.foot {
    .menuItem {
        text-align: center;
        & > div {
            & > i {
                font-size: 7vw;
                display: block;
                padding: 1.5vw 0;
            }
            &:hover {
                cursor: pointer;
                color: #fff;
            }
        }
    }
}
